@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');

:root {
    --motion-ease: cubic-bezier(0.68, -0.6, 0.32, 1.6);
    --motion-duration: 0.3s;
}

* {
    box-sizing: border-box;
}

html {
    height: 100%;
}

body {
    align-items: center;
    background: #252b32e1;
    display: flex;
    font-size: clamp(2vw, 5vw, 2vw);
    justify-content: center;
    margin: 0;
    min-height: 100%;
    padding: 1.5em;
    font-family: 'Quicksand', sans-serif;
}